// F4P layout partial

// highlight color area
.o-hlight {
    background-color: $f4p-hlight-tone;
}

// dark color area
.o-dark {
    background-color: $f4p-dark-tone;
}

// white color area
.o-white {
    background-color: $white;
}

// overlay area
.o-overlay--05 {
    background-color: rgba(0,0,0,0.5);
}






