// F4P layout partial

// highlight color area
.o-hlight {
    background-color: $f4p-hlight-tone;
}

// dark color area
.o-dark {
    background-color: $f4p-dark-tone;
}

// light gray f4p-dark-tone
.o-lightgray {
    background-color: $f4p-grey-tone-l2;
}

// white color area
.o-white {
    background-color: $white;
}






