// F4P article partial

.o-block-img-cont {
    // height: $f4p-grid-height-100;
}

.o-catgrylist {
    ul {}
    li {
        display: inline-block;
        margin: $all-zero $all-zero - 2;
        padding-right: $all-zero + 4;
        text-decoration: underline;
        &:after {
            content: "\002c";
        }
        &:last-child {
            &:after {
                @extend .u-display-none;
            }
        }
    }
    &.o-archvlist {
        li {
            padding-right: $all-zero;
        }
    }
    &.u-linkbase {
        &:hover {
            @extend %u-opacity-1;
        }
    }
}

.o-topbar-singlepost {
    h3 {
        color: $f4p-base-color;
    }
}

.c-hblog {
    &__cat {
        margin-bottom: $all-zero + 10;
        @extend .u-display-in-block;
        a {
            color : $f4p-base-color;
            margin-right: $all-zero + 6;
            @extend %u-opacity-1;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    &__title {
        font-size: $h1-fontsize;
        letter-spacing: $all-zero + 3;
    }
    &__datedetails {
        span {
            @extend .u-display-block;
        }
    }
    &__postdate {
        font-size: $h1-fontsize * 2;
        margin-bottom: $all-zero + 10 !important;
        @extend .u-no-padding;
        @extend strong;
    }
}


