// F4P related posts partial

.o-related-posts {
    .swiper-container-horizontal {
        .swiper-pagination-bullets {
            bottom: 30%;
            padding-right: $all-zero + 25;
            top: 15%;
        }
    }
    .o-related-post {

        &__titles {
            bottom: $all-zero + 50;
            left: $all-zero + 30;
            right: $all-zero + 30;
            header {
                &:after {
                    background-color: $f4p-hlight-tone;
                    bottom: $all-zero - 50;
                    content: "";
                    height: $f4p-grid-height-100 / 2;
                    left: $all-zero - 30;
                    position: absolute;
                    width: $all-zero + 4;
                }
            }
        }
    }
}


